@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700');

html{
  background: #fdf5c9;
  font-family: 'Roboto Mono', monospace;
  color:black;
}

h1{
  font-size: 7.6vw;

}

h1, h2{
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0;
}

.btn{
  display: block;
  width: 100%;
  background:black;
  color:white;
  text-decoration: none;
  margin:2vw 0;
  font-size:5vw;
  text-align:center;
  line-height: 5em;
}

.btn.active{
  background:white;
  color:black;
}
